---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.jsx";
import Hero from "../components/Hero.astro";
import SidebarMenu from "../components/SidebarMenu";
---

<Layout title="Welcome to Astro.">
  <main>
    <Hero />
    <SidebarMenu client:load />
  </main>
</Layout>
